@import '../../vendor/filament/filament/resources/css/app.css';
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Source+Code+Pro&display=swap');

:root {
    --sidebar-width: 14rem;
}

.filament-footer {
    display: none;
}

body > * .cm-scroller {
    font-family: 'Fira Code' !important;
}